:root {
  /* --color-primary: #000767; */
  --color-primary: #4c5085;
  --color-secondary: #8ab5ab;
  --color-accent: #df5757;
  /* --color-accent: #ff0000; */
  --color-headings: #c9ccff;
  --color-text: #190e89;
  --color-background: #f2f6fb;
  --color-border: #ccc;
  --border-radius: 0px;
}

html {
  font-size: 87.5%;
}

input[type="file"] {
  display: none;
}

a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  border-radius: var(--border-radius);
  border-width: 0;
}

.btn:hover {
  background-color: #3a3e6d;
}

.btn-primary:disabled {
  background-color: #42467c;
}

.btn--blue {
  background-color: var(--color-primary);
}

.btn--blue {
  background-color: var(--color-primary);
}

.btn--red {
  background-color: var(--color-accent);
}

.btn--red:hover {
  background-color: rgb(199, 70, 70);
}

.btn--green {
  background-color: var(--color-secondary);
}

.btn--green:hover {
  background-color: #769b92;
}

.ant-layout {
  background-color: var(--color-background);
}

.edit-text {
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 0;
  padding: 0 1.4rem;
}

.edit-text:focus {
  border-bottom: 1px solid var(--color-primary);
}

.progress-bar {
  position: fixed;
  top: 73px;
  left: 0;
  height: 5px;
  z-index: 99;
  background-color: var(--color-secondary);
}

/* Survey Editor */

.se__container {
  min-height: calc(100vh - 73px - 80px - 52px);
  background-color: var(--color-background);
}

.se__top-cut-off {
  margin-top: 73px;
  height: 4.3rem;
  width: 100vw;
  background-color: var(--color-primary);
}

.se__bottom-cut-off {
  height: 4.3rem;
  width: 100vw;
  background-color: var(--color-primary);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 2.1rem;
}

.se__bottom-cut-off a {
  color: #b4acce;
}

.se__bottom-cut-off a:hover {
  color: #ddd9e9;
}

.se__content {
  width: 100vw;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

.se__publish {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  height: 7rem;
}

.se__title-container {
  padding: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  width: 100%;
  /* max-width: 1000px; */
  margin-left: auto;
  margin-right: auto;
}

.se__title {
  margin: 0;
  padding-bottom: 1rem;
  height: 5rem;
  font-size: 3.5rem;
  color: var(--color-headings);
}

.se__sub-title {
  padding-top: 0.3rem;
  margin: 0 0 1rem 0;
  height: 3rem;
  font-size: 1.5rem;
  color: var(--color-headings);
}

.se__thumbnail {
  text-align: center;
  width: 100%;
  height: auto;
  object-fit: cover;
  background-color: #f1f1f1;
}

.se__thumbnail-btn {
  background-color: var(--color-primary);
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 300;
  width: 50%;
}

.se__btn-add {
  font-size: 1.5rem;
  width: 100%;
  height: 4rem;
  border-width: 0;
}

.se__btn-publish {
  margin: 0 3rem;
  width: 20rem;
  height: 4rem;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}

.se__btn-cancel {
  margin: 0 3rem;
  width: 20rem;
  height: 4rem;
  background-color: white;
  color: var(--color-primary);
  border-color: var(--color-primary);
  font-size: 1.4rem;
  font-weight: 600;
}

.se__container .sv-body__page {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.se__container .sv-footer {
  display: none;
}

/* Question Editor */
.qe {
  margin: 0;
  padding: 1.5rem 0.5rem;
  transition: all 0.2s ease-out;
}

.qe__image {
  width: 100%;
  height: auto;
  padding: 0 2rem 1.5rem;
}

.qe__btn {
  margin-top: 1rem;
  width: 8rem;
  height: 2.5rem;
  font-size: 1.4rem;
  padding: 0;
}

.qe__btn--mt {
  margin-top: 0;
}

.qe__question {
  font-size: 2rem;
  width: 95%;
  height: 4.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
  margin: 0 auto 1rem;
  color: var(--color-text);
}

.qe__option {
  color: var(--color-text);
  font-size: 1.3rem;
  margin: 0.3rem 1rem;
  padding: 0;
  padding-left: 1rem;
  display: inline-block;
  height: 3rem;
  width: auto;
  width: 80%;
  vertical-align: middle;
}

.qe__option-icon {
  width: 1rem;
  height: 1rem;
  margin-left: 1.8rem;
  vertical-align: middle;
}

/* header image*/
.center-headerImage {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}
