:root {
	--color-primary: #000767;
	--color-secondary: #8ab5ab;
	--color-accent: #ff0000;
	--color-headings: #c9ccff;
	--color-text: #190e89;
	--color-background: #f2f6fb;
	--color-border: #ccc;
	--border-radius: 0px;
}

html {
	font-size: 62.5%;
}

input[type='file'] {
	display: none;
}

.space-between {
	display: flex;
	justify-content: space-evenly;
}

a:link,
a:visited {
	text-decoration: none;
	cursor: pointer;
}

.btn {
	border-radius: 0%;
}

.edit-text {
	background-color: transparent;
	outline: none;
	border: none;
	border-radius: 0;
	padding: 0 2rem;
}

.edit-text:focus {
	border-bottom: 1px solid var(--color-primary);
}

/* Survey Editor */

.se__container {
	background-color: var(--color-background);
	min-height: calc(100vh - 64px);
}

.se__top-cut-off {
	height: 8rem;
	width: 100vw;
	background-color: var(--color-primary);
}

.se__bottom-cut-off {
	height: 6rem;
	width: 100vw;
	background-color: var(--color-primary);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
	font-weight: 300;
	margin-top: 3rem;
}

.se__bottom-cut-off a {
	color: #a8a1c0;
}

.se__bottom-cut-off a:hover {
	color: #ddd9e9;
}

.se__content {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.se__publish {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
	height: 10rem;
}

.se__title-section {
	background-color: white;
	padding: 4rem 0;
}

.se__title {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: 7.5rem;
	font-size: 5rem;
	color: var(--color-headings);
	border: 1px solid var(--color-primary);
}

.se__sub-title {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	height: 7.5rem;
	font-size: 5rem;
	-webkit-text-stroke: 1px var(--color-headings);
	color: white;
	border: 1px solid var(--color-primary);
}

.se__add-btn-container {
	display: flex;
	justify-content: space-evenly;
	margin: 2rem 0;
}

.se__btn--red {
	background-color: var(--color-accent);
}

.se__btn--blue {
	background-color: var(--color-primary);
}

.se__btn--green {
	background-color: var(--color-secondary);
}

.se__btn-add {
	font-size: 1.8rem;
	width: 31%;
	height: 6rem;
	border-width: 0;
}

.se__btn-publish {
	margin: 0 3rem;
	width: 20rem;
	height: 4rem;
	background-color: var(--color-primary);
	border-color: var(--color-primary);
	color: white;
	font-size: 1.5rem;
	font-weight: 600;
}

.se__btn-cancel {
	margin: 0 3rem;
	width: 20rem;
	height: 4rem;
	background-color: white;
	color: var(--color-primary);
	border-color: var(--color-primary);
	font-size: 1.5rem;
	font-weight: 600;
}

/* Question Editor */
.qe {
	min-height: 10rem;
	margin: 1rem 2rem;
}

.qe__image {
	width: 100%;
	height: auto;
	padding: 2rem;
}

.qe__btn {
	margin-top: 1rem;
	margin-right: 3rem;
	float: right;
	width: 9rem;
	height: 3rem;
	font-size: 1.7rem;
	border-width: 0;
	padding: 0;
}

.qe__btn--mt {
	margin-top: 2.3rem;
}

.qe__btn--blue {
	background-color: var(--color-primary);
}

.qe__btn--red {
	background-color: var(--color-accent);
}

.edit-question {
	font-size: 2.5rem;
	height: 5rem;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	margin: 0.5rem 0;
	color: var(--color-text);
}

/* Edit Option */
.edit-option__option {
	color: var(--color-text);
	font-size: 1.8rem;
	margin: 0.3rem 1rem;
	padding: 0;
	padding-left: 1rem;
	display: inline-block;
	height: 3rem;
	width: auto;
	max-width: 90%;
	vertical-align: middle;
}

.edit-option__icon {
	margin-left: 2.5rem;
	vertical-align: middle;
}

.edit-option__btn {
	margin: 0.5rem 0.2rem;
	border-radius: 0;
}
