:root {
  /* --color-primary: #000767; */
  --color-primary: #4c5085;
  --color-secondary: #8ab5ab;
  --color-accent: #df5757;
  /* --color-accent: #ff0000; */
  --color-headings: #6c757d;
  --color-text: #190e89;
  --color-background: #f2f6fb;
  --color-border: #ccc;
  --color-primary-transparent: rgba(76, 80, 133, 0.2);
  --border-radius: 0px;
  --height-nav-bar: 73px;
  --height-footer: 59px;
}

html {
  font-size: 87.5%;
  width: 100vw;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

::selection {
  background-color: var(--color-primary);
  color: white;
}

input[type="file"] {
  display: none;
}

.link {
  color: var(--color-text);
}

a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  border-radius: var(--border-radius);
  border-width: 0;
}

.btn:hover {
  background-color: #3a3e6d;
}

.btn:focus {
  background-color: var(--color-primary);
}

.btn-primary:disabled {
  background-color: #42467c;
}

.btn--blue {
  background-color: var(--color-primary);
}

.btn--red {
  background-color: var(--color-accent);
}

.btn--red:hover {
  background-color: rgb(199, 70, 70);
}

.btn--green {
  background-color: var(--color-secondary);
}

.btn--green:hover {
  background-color: #769b92;
}

.ant-layout {
  background-color: var(--color-background);
}

.progress-bar {
  position: fixed;
  top: calc(var(--height-nav-bar));
  left: 0;
  height: 5px;
  z-index: 99;
  background-color: var(--color-secondary);
}

.loading {
  margin-top: 10rem;
  width: 50px;
  height: 50px;
  border-width: 5px;
}

/* Survey Editor */

.se-container {
  min-height: calc(100vh - var(--height-nav-bar) - var(--height-footer));
  background-color: var(--color-background);
  /* padding-bottom: calc(25px + var(--height-footer)); */
  margin-top: var(--height-nav-bar);
  margin-bottom: var(--height-footer);
}

.se__top-cut-off {
  height: 4rem;
  background-color: var(--color-primary);
}

.se__bottom-cut-off {
  height: 4rem;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 300;
}

.se__bottom-cut-off a {
  color: #d5cfeb;
  transition: color 0.3s;
}

.se__bottom-cut-off a:hover {
  color: #e9e6f6;
}

.se__content {
  max-width: 1800px;
  margin: 2rem auto;
}

.se__publish {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
}

.se__add-btn-group {
  padding: 1rem 2rem 0.5rem;
}

.se__survey-preview {
  scroll-behavior: smooth;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0 2rem;
  overflow: auto;
  height: 800px;
}

.se__title {
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid transparent;
  height: 6rem;
  font-size: 3.5rem;
  color: var(--color-headings);
  transition: background-color 0.3s ease-out;
}

.se__title:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.se__title:focus {
  color: var(--color-headings);
  background-color: transparent;
  border-bottom: 1px solid var(--color-primary);
}

.se__desc {
  height: 3rem;
  font-size: 1.5rem;
  color: var(--color-headings);
  margin-bottom: 1rem;
}

.se__thumbnail {
  width: 95%;
  margin: 0 auto 1rem;
}

.se__thumbnail img {
  width: 100%;
  object-fit: cover;
}

.se__thumbnail-btn {
  background-color: var(--color-primary);
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 300;
  width: 100%;
  margin: 1rem 0;
}

.se__btn-add {
  font-size: 1.3rem;
  width: 100%;
  height: 4.5rem;
  border-width: none;
  background-color: transparent;
  color: var(--color-primary);
  border-bottom: 1px solid #ccc;
  padding-left: 10%;
  text-align: start;
  transition: all 0.3s;
}

.se__btn-add:hover {
  background-color: transparent;
  color: #a9aee6;
  border-color: var(--color-primary);
}

.se__btn-publish {
  margin: 0 3rem;
  width: 20rem;
  height: 4rem;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}

.se__btn-cancel {
  margin: 0 3rem;
  width: 20rem;
  height: 4rem;
  background-color: white;
  color: var(--color-primary);
  border-color: var(--color-primary);
  font-size: 1.4rem;
  font-weight: 600;
}

.se-container .sv-body__page {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.se-container .sv-footer {
  display: none;
}

.se__qp {
  border: 1px solid transparent;
  min-height: 10rem;
  padding: 0.5rem 0 0.5rem;
  transition: all 0.3s;
}

.se__qp:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.se__qp--active {
  background-color: rgba(0, 0, 0, 0.05);
}

.se__qp input:focus {
  border-color: var(--color-primary) !important;
}

.se__pp {
  padding: 1rem 2rem 0;
}

.se__pp__title {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.se__tb__title {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 2rem;
  padding-left: 2rem;
}

.se__empty {
  color: rgb(172, 172, 172);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

/* Question Editor */

.qe form,
.qe .container {
  margin-bottom: 2rem;
}

.qe .container form {
  margin-bottom: 0;
}

.qe .ck-container {
  margin: 2rem 0;
}

.qe__btn {
  width: 8rem;
  height: 2.8rem;
  margin: 1rem 0.5rem;
  font-size: 1.2rem;
  padding: 0;
}

.qe__btn--small {
  margin: 1rem 1rem 0 0;
  width: 3rem;
  height: 2.8rem;
  font-size: 1.2rem;
  padding: 0;
  background-color: transparent;
  color: var(--color-primary);
}

.qe__btn--delete {
  margin: 1rem 1rem 0 0;
  width: 3rem;
  height: 2.8rem;
  font-size: 1.2rem;
  padding: 0;
  background-color: transparent;
  color: var(--color-accent);
}

.qe__btn-group {
  text-align: end;
}

.qe__btn:disabled {
  background-color: transparent;
  color: transparent;
}

.qe .form-label {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

.qe input {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.qe input[type="checkbox"] {
  width: 1.4rem;
  height: 1.4rem;
}

.qe input:focus {
  box-shadow: none;
}

.qe .form-check {
  font-size: 1.2rem;
  padding-left: 2rem;
}

.qe .container {
  max-width: 100%;
  padding: 0;
}

.qe img {
  margin-top: 2rem;
  width: 100%;
}

.qe__btn--img {
  margin: 2rem 1rem 0 0;
}

/* Survey Page */

.sp-container {
  min-height: calc(100vh - var(--height-nav-bar) - var(--height-footer));
  background-color: var(--color-background);
  margin-top: var(--height-nav-bar);
  padding-bottom: calc(25px + var(--height-footer));
}

.sp__survey {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.sp__loading {
  margin: 200px calc(50% - 60px);
  width: 120px;
  height: 120px;
}

.sp-container .sv-container-modern__title h3 {
  color: rgb(90, 90, 90);
  font-size: 4rem;
}

.sp-container .sv-container-modern__title h5 {
  color: var(--color-headings);
  font-size: 1.7rem;
}

/* Submission Page */

.sb-container {
  min-height: calc(100vh - var(--height-nav-bar) - var(--height-footer));
  background-color: var(--color-background);
  margin-top: var(--height-nav-bar);
  padding-bottom: calc(25px + var(--height-footer));
}

.sb__content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.sb__content .sv-body__page {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.sb__content .sv-footer {
  display: none;
}

.sb__pair {
  min-height: 300px;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.sb__pie-icon {
  background-image: url(../assets/chartIcons/pieChart.svg);
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}

.sb__bar-icon {
  background-image: url(../assets/chartIcons/barChart.svg);
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}

.sb__hex-icon {
  background-image: url(../assets/chartIcons/hexagon.svg);
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}

.sb__btn-switch {
  margin-top: 1rem;
  background-color: transparent;
  transition: background-color 0.3s;
}

.sb__btn-switch:hover,
.sb__btn-switch:focus {
  background-color: rgba(0, 0, 0, 0.04);
}

.sb__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.8rem;
  color: rgb(172, 172, 172);
}

.sb__list {
  height: 100%;
  max-height: 400px;
  overflow: auto;
  font-size: 1.4rem;
  margin: 2.5rem 0;
  padding: 0 5rem;
}

.sb__chart {
  margin: 2.5rem 1rem;
}

.sb__title {
  padding-top: 4rem;
  font-size: 4rem;
  margin-left: 2.5rem;
  color: rgb(90, 90, 90);
}

.sb__desc {
  font-size: 1.7rem;
  color: var(--color-headings);
  margin-bottom: 2rem;
  margin-left: 2.5rem;
}

/* Surveys List */

.sl-container {
  min-height: calc(100vh - var(--height-nav-bar)- var(--height-footer));
  background-color: var(--color-background);
  margin-top: var(--height-nav-bar);
  padding-bottom: calc(25px + var(--height-footer));
}

.sl__content {
  padding-top: 25px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.sl__more-icon {
  background-image: url(../assets/more-vertical.svg);
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}

.sl-container .dropdown-toggle::after {
  display: none;
}

.sl-grid {
  display: flex;
  margin-left: 0; /* gutter size offset */
  width: auto;
}

.sl-grid_column {
  padding-left: 0; /* gutter size */
  background-clip: padding-box;
}

.sli-container {
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}

.sli__thumbnail {
  max-height: 600px;
  min-height: 300px;
  object-fit: cover;
}

.sli__thumbnail--placeholder {
  background-color: rgb(53, 53, 53);
}

.sli__background {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 100%);
  height: 100%;
  padding: 1.3rem 3rem;
}

.sli__title {
  font-size: 2rem;
  color: white;
  transition: color 0.3s;
  text-shadow: 4px 4px 5px black;
}

.sli__title:hover {
  color: rgb(200, 200, 200);
}

.sli__description {
  font-size: 1.2rem;
  font-weight: 100;
  color: rgb(224, 224, 224);
  max-height: 80%;
  overflow: auto;
  text-shadow: 4px 4px 5px black;
}

.sli--invisible {
  color: rgb(146, 146, 146);
}

/* Override SurveyJS Library Styles */

.sv-question__content input:focus {
  border-color: var(--color-primary) !important;
}

.sv-footer__complete-btn {
  background-color: var(--color-primary) !important;
}

.sv-completedpage {
  background-color: transparent !important;
}

.sv-header__text {
  width: 100% !important;
}

.sv-checkbox--checked .sv-checkbox__svg {
  background-color: var(--color-primary) !important;
}

.sv-rating__item--selected .sv-rating__item-text {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.sv-rating input:focus + .sv-rating__min-text + .sv-rating__item-text,
.sv-rating input:focus + .sv-rating__item-text {
  outline-color: var(--color-primary) !important;
}

.sv-item__control:focus:focus + .sv-item__decorator {
  border-color: var(--color-primary) !important;
}

.sv-question__title--answer {
  background-color: var(--color-primary-transparent) !important;
}

.sv-boolean__switch {
  background-color: var(--color-primary) !important;
}

.sv-dropdown option {
  background-color: var(--color-background);
}

.sv-ranking-item__content {
  background-color: transparent !important;
}

.sv-ranking-item__index {
  background-color: var(--color-primary-transparent) !important;
}

.sv-ranking-item__icon {
  fill: var(--color-primary) !important;
}

.sv-ranking-item__ghost {
  background: none !important;
}

.sv-comment:focus {
  border-color: var(--color-primary) !important;
}

/* header image*/
.center-headerImage {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}
