:root {
	--color-primary: #000767;
	--color-secondary: #8ab5ab;
	--color-accent: #ff0000;
	--color-headings: #c9ccff;
	--color-background: #f2f6fb;
	--color-border: #ccc;
	--border-radius: 0px;
}

html {
	font-size: 62.5%;
}

.space-between {
	display: flex;
	justify-content: space-evenly;
}

.btn {
	border-radius: 0%;
}

.edit-text {
	background-color: transparent;
	outline: none;
	border: none;
	border-radius: 0;
	padding: 0 2rem 1rem;
}

.edit-text:focus {
	border-bottom: 1px solid var(--color-primary);
}

/* Survey Editor */

.se__container {
	background-color: var(--color-background);
	min-height: calc(100vh - 64px);
}

.se__top-cut-off {
	height: 80px;
	width: 100vw;
	background-color: var(--color-primary);
}

.se__bottom-cut-off {
	height: 6rem;
	width: 100vw;
	background-color: var(--color-primary);
}

.se__content {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.se__publish {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
	height: 10rem;
}

.se__title {
	height: 7.5rem;
	font-size: 5rem;
	color: var(--color-headings);
}

.se__sub-title {
	height: 7.5rem;
	font-size: 5rem;
	-webkit-text-stroke: 1px var(--color-headings);
	color: white;
}

.se__add-btn-container {
	display: flex;
	justify-content: space-evenly;
	padding: 0.5rem 0;
}

.se__btn--red {
	background-color: var(--color-accent);
}

.se__btn--blue {
	background-color: var(--color-primary);
}

.se__btn--green {
	background-color: var(--color-secondary);
}

.se__btn-add {
	font-size: 1.7rem;
	width: 31%;
	height: 6rem;
	border-width: 0;
}

.se__btn-publish {
	margin: 0 3rem;
	width: 20rem;
	height: 4rem;
	background-color: var(--color-primary);
	border-color: var(--color-primary);
	color: white;
	font-size: 1.5rem;
	font-weight: 600;
}

.se__btn-cancel {
	margin: 0 3rem;
	width: 20rem;
	height: 4rem;
	background-color: white;
	color: var(--color-primary);
	border-color: var(--color-primary);
	font-size: 1.5rem;
	font-weight: 600;
}

/* Question Editor */
.qe {
	margin: 1rem;
	padding: 0.2rem 0.5rem;
	border: solid rgb(231, 231, 231);
	border-width: 1px;
	background-color: rgb(251, 251, 251);
}

.qe__remove {
	margin: 0.2rem;
	margin-bottom: 0.5rem;
}

.edit-option__option {
	margin: 0 0.6rem;
	display: inline-block;
	width: auto;
	max-width: 90%;
	vertical-align: middle;
}

.edit-option__icon {
	margin-left: 0.8rem;
	margin-top: 3px;
	vertical-align: middle;
}

.edit-option__btn {
	margin: 0.5rem 0.2rem;
	border-radius: 0;
}

.edit-question {
	font-size: 1.2rem;
	font-weight: 500;
}
