:root {
  --color-primary: #4c5085;
  --color-secondary: #8ab5ab;
  --color-accent: #df5757;
  --color-headings: #6c757d;
  --color-text: #190e89;
  --color-background: #f2f6fb;
  --color-border: #ccc;
  --color-primary-transparent: rgba(76, 80, 133, 0.2);
  --border-radius: 0px;
  --height-nav-bar: 80px;
  --height-footer: 60px;
}

html {
  font-size: 87.5%;
  width: 100vw;
}

.modal-open {
  overflow: auto;
  padding-right: 0 !important;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

::selection {
  background-color: var(--color-primary);
  color: white;
}

input[type="file"] {
  display: none;
}

.link {
  color: var(--color-text);
}

a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  border-radius: var(--border-radius);
  border-width: 0;
}

.btn:hover {
  background-color: #3a3e6d;
}

.btn:focus {
  background-color: var(--color-primary);
}

.btn-primary:disabled {
  background-color: #42467c;
}

.btn--blue {
  background-color: var(--color-primary);
}

.btn--red {
  background-color: var(--color-accent);
}

.btn--red:hover {
  background-color: rgb(199, 70, 70);
}

.btn--green {
  background-color: var(--color-secondary);
}

.btn--green:hover {
  background-color: #769b92;
}

.ant-layout {
  background-color: var(--color-background);
}

.progress-bar {
  position: fixed;
  top: calc(var(--height-nav-bar));
  left: 0;
  height: 5px;
  z-index: 99;
  background-color: var(--color-secondary);
}

.loading {
  margin-top: 10rem;
  width: 50px;
  height: 50px;
  border-width: 5px;
}

/* Survey Editor */

.se-container {
  background-color: var(--color-background);
  margin-top: var(--height-nav-bar);
}

.se__top-cut-off {
  height: 4rem;
  background-color: var(--color-primary);
}

.se__bottom-cut-off {
  height: 4rem;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 300;
}

.se__btn-back-to-top {
  color: #bdb7d1;
  background-color: transparent;
  transition: color 0.3s;
  font-size: 1.3rem;
  font-weight: 100;
}

.se__btn-back-to-top:hover {
  color: #e9e6f6;
  background-color: transparent;
}

.se__btn-back-to-top:focus {
  color: #e9e6f6;
  background-color: transparent;
}

.se__content {
  max-width: 1800px;
  margin: 2rem auto;
}

.se__publish {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
}

.se__add-btn-group {
  padding: 1rem 2rem 0.5rem;
}

.se__survey-preview {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0 2rem;
  overflow: auto;
  height: calc(100vh - var(--height-nav-bar) - var(--height-footer) - 19rem);
  min-height: 600px;
}

.se__title {
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid transparent;
  height: 6rem;
  font-size: 3.5rem;
  color: var(--color-headings);
  transition: background-color 0.3s ease-out;
}

.se__title:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.se__title:focus {
  color: var(--color-headings);
  background-color: transparent;
  border-bottom: 1px solid var(--color-primary);
}

.se__desc {
  height: 3rem;
  font-size: 1.5rem;
  color: var(--color-headings);
}

.se__thumbnail {
  width: 95%;
  margin: 1rem auto;
}

.se__thumbnail img {
  width: 100%;
  object-fit: cover;
}

.se__thumbnail-btn {
  background-color: var(--color-primary);
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 300;
  width: 100%;
  margin: 1rem 0;
}

.se__btn-add {
  font-size: 1.3rem;
  width: 100%;
  height: 4.5rem;
  border-width: none;
  background-color: transparent;
  color: var(--color-primary);
  border-bottom: 1px solid #ccc;
  padding-left: 10%;
  text-align: start;
  transition: all 0.3s;
}

.se__btn-add:hover {
  background-color: transparent;
  color: #a9aee6;
  border-color: var(--color-primary);
}

.se__btn-publish {
  margin: 0 3rem;
  width: 20rem;
  height: 4rem;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}

.se__btn-cancel {
  margin: 0 3rem;
  width: 20rem;
  height: 4rem;
  background-color: white;
  color: var(--color-primary);
  border-color: var(--color-primary);
  font-size: 1.4rem;
  font-weight: 600;
}

.se-container .sv-body__page {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.se-container .sv-footer {
  display: none;
}

.se__qp {
  border: 1px solid transparent;
  min-height: 10rem;
  padding: 0.5rem 0 0.5rem;
  transition: all 0.3s;
}

.se__qp:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.se__qp--active {
  background-color: rgba(0, 0, 0, 0.05);
}

.se__qp--error {
  border-bottom: 1px solid var(--color-accent);
}

.se__qp input:focus {
  border-color: var(--color-primary) !important;
}

.se__pp {
  padding: 1rem 2rem 0;
}

.se__pp__title {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.se__tb__title {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.se__empty {
  color: rgb(172, 172, 172);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.se__input--error {
  border-width: 1px;
  border-color: var(--color-accent);
}

.se__text--error {
  color: var(--color-accent);
  margin: 0.2rem 0 0.2rem;
}

.se__qp__text--error {
  color: var(--color-accent);
  margin: 0.2rem 0.2rem 1rem;
}

/* Question Editor */

.qe form,
.qe .container {
  margin-bottom: 2rem;
}

.qe .container form {
  margin-bottom: 0;
}

.qe .ck-container {
  margin: 2rem 0;
}

.qe__btn {
  width: 8rem;
  height: 2.8rem;
  margin: 1rem 0.5rem;
  font-size: 1.2rem;
  padding: 0;
}

.qe__btn--small {
  margin: 1rem 1rem 0 0;
  width: 3rem;
  height: 2.8rem;
  font-size: 1.2rem;
  padding: 0;
  background-color: transparent;
  color: var(--color-primary);
}

.qe__btn--delete {
  margin: 1rem 1rem 0 0;
  width: 3rem;
  height: 2.8rem;
  font-size: 1.2rem;
  padding: 0;
  background-color: transparent;
  color: var(--color-accent);
}

.qe__btn-group {
  text-align: flex-end;
}

.qe__btn:disabled {
  background-color: transparent;
  color: transparent;
}

.qe .form-label {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

.qe input {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.qe input[type="checkbox"] {
  width: 1.4rem;
  height: 1.4rem;
}

.qe input:focus {
  box-shadow: none;
}

.qe .form-check {
  font-size: 1.2rem;
  padding-left: 2rem;
}

.qe .container {
  max-width: 100%;
  padding: 0;
}

.qe img {
  margin-top: 2rem;
  width: 100%;
}

.qe__btn--img {
  margin: 2rem 1rem 0 0;
}

/* Survey Page */

.sp-container {
  min-height: calc(100vh - var(--height-nav-bar) - var(--height-footer));
  background-color: var(--color-background);
  margin-top: var(--height-nav-bar);
}

.sp__survey {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.sp__loading {
  margin: 200px calc(50% - 60px);
  width: 120px;
  height: 120px;
}

.sp-container .sv-container-modern__title h3 {
  color: rgb(90, 90, 90);
  font-size: 4rem;
}

.sp-container .sv-container-modern__title h5 {
  color: var(--color-headings);
  font-size: 1.7rem;
}

/* Submission Page */

.sb-container {
  min-height: calc(100vh - var(--height-nav-bar) - var(--height-footer) - 2rem);
  background-color: var(--color-background);
  margin-top: var(--height-nav-bar);
  padding-bottom: 2rem;
}

.sb__content {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.sb__content .sv-body__page {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.sb__content .sv-footer {
  display: none;
}

.sb__pair {
  min-height: 300px;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.sb__pie-icon {
  background-image: url(../assets/chartIcons/pieChart.svg);
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}

.sb__bar-icon {
  background-image: url(../assets/chartIcons/barChart.svg);
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}

.sb__hex-icon {
  background-image: url(../assets/chartIcons/hexagon.svg);
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}

.sb__btn-switch {
  margin-top: 1rem;
  background-color: transparent;
  transition: background-color 0.3s;
}

.sb__btn-switch:hover,
.sb__btn-switch:focus {
  background-color: rgba(0, 0, 0, 0.04);
}

.sb__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 300px;
  font-size: 1.8rem;
  color: rgb(172, 172, 172);
}

.sb__list {
  height: 100%;
  max-height: 400px;
  overflow: auto;
  font-size: 1.4rem;
  margin: 2.5rem 0;
  padding: 0 5rem;
}

.sb__chart {
  margin: 2.5rem 1rem;
}

.sb__title {
  padding-top: 4rem;
  font-size: 4rem;
  color: rgb(90, 90, 90);
}

.sb__desc {
  font-size: 1.7rem;
  color: var(--color-headings);
  margin-bottom: 2rem;
}

/* Surveys List */

.sl-container {
  min-height: calc(100vh - var(--height-nav-bar) - var(--height-footer));
  background-color: var(--color-background);
  margin-top: var(--height-nav-bar);
  padding-bottom: 2rem;
}

.sl__content {
  width: 100%;
  max-width: 1200px;
  margin: var(--height-nav-bar) auto 0;
  padding-top: 0.5rem;
}

.sl__toggle-display {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.sl__btn-toggle {
  font-size: 1.8rem;
  background-color: transparent;
  color: var(--color-primary);
}

.sl__btn-toggle:hover {
  background-color: transparent;
  color: var(--color-secondary);
}

.sl-grid {
  display: flex;
  margin-left: 0; /* gutter size offset */
  width: auto;
}

.sl-grid_column {
  padding-left: 0; /* gutter size */
  background-clip: padding-box;
}

.sii-container {
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}

.sii__thumbnail {
  max-height: 600px;
  min-height: 300px;
  object-fit: cover;
  border-radius: 0;
}

.sii__thumbnail--placeholder {
  background-color: rgb(53, 53, 53);
}

.sii__background {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 100%);
  height: 100%;
  padding: 1.3rem 3rem;
  transition: background-color 0.3s;
}

.sii__background:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.sii__title {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  transition: color 0.3s;
  text-shadow: 4px 4px 5px black;
}

.sii__title:hover {
  color: rgb(200, 200, 200);
}

.sii__description {
  font-size: 1.2rem;
  font-weight: 100;
  color: rgb(224, 224, 224);
  margin-top: 0.3rem;
  max-height: 85%;
  overflow: auto;
  text-shadow: 4px 4px 5px black;
}

.sii--invisible {
  color: rgb(146, 146, 146);
}

.sii__btn {
  background-color: transparent;
  margin-top: 0.5rem;
  text-shadow: 4px 4px 5px black;
}

.sii__btn:hover {
  background-color: transparent;
  color: var(--color-secondary);
}

.sii__btn:focus {
  background-color: transparent;
}

.sli-container {
  transition: background-color 0.3s;
  list-style-type: none;
  padding: 1rem 2rem;
  margin-bottom: 0.5rem;
}

.sli-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sli__title {
  font-size: 2rem;
  font-weight: 500;
  color: #666;
  transition: color 0.3s;
  max-width: 100%;
  overflow: auto;
}

.sli__title:hover {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-primary);
}

.sli--invisible {
  color: rgb(146, 146, 146);
}

.sli__description {
  font-size: 1.3rem;
  color: black;
  font-weight: 100;
  margin-bottom: 0;
}

.sli__btn-container {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.sli__btn {
  width: 35px;
  height: 35px;
  padding: 0;
  background-color: transparent;
  color: var(--color-primary);
  font-size: 1.3rem;
}

.sli__btn:hover {
  background-color: transparent;
}

.sli__btn:focus {
  background-color: transparent;
}

.sli__btn a {
  color: var(--color-primary);
  transition: color 0.3s;
}

.sli__btn a:hover {
  color: var(--color-secondary);
}

.sli__btn i {
  color: var(--color-primary);
  transition: color 0.3s;
}

.sli__btn i:hover {
  color: var(--color-secondary);
}

.sli__btn--md-0 {
  margin-bottom: 0;
}

@media only screen and (max-width: 576px) {
  .sli__btn-container {
    display: inline;
    height: 35px;
  }

  .sli__btn {
    margin-top: 1rem;
  }
}

/* Override SurveyJS Library Styles */

.sv-question__content input:focus {
  border-color: var(--color-primary) !important;
}

.sv-footer__complete-btn {
  background-color: var(--color-primary) !important;
}

.sv-completedpage {
  background-color: transparent !important;
}

.sv-header__text {
  width: 100% !important;
}

.sv-checkbox--checked .sv-checkbox__svg {
  background-color: var(--color-primary) !important;
}

.sv-rating__item--selected .sv-rating__item-text {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.sv-rating input:focus + .sv-rating__min-text + .sv-rating__item-text,
.sv-rating input:focus + .sv-rating__item-text {
  outline-color: var(--color-primary) !important;
}

.sv-item__control:focus:focus + .sv-item__decorator {
  border-color: var(--color-primary) !important;
}

.sv-question__title--answer {
  background-color: var(--color-primary-transparent) !important;
}

.sv-boolean__switch {
  background-color: var(--color-primary) !important;
}

.sv-dropdown option {
  background-color: var(--color-background);
}

.sv-ranking-item__content {
  background-color: transparent !important;
}

.sv-ranking-item__index {
  background-color: var(--color-primary-transparent) !important;
}

.sv-ranking-item__icon {
  fill: var(--color-primary) !important;
}

.sv-ranking-item__ghost {
  background: none !important;
}

.sv-comment:focus {
  border-color: var(--color-primary) !important;
}

.sv-clearfix div {
  min-width: 200px !important;
}

.sv-clearfix div.sv-ranking-item__index {
  min-width: 20px !important;
}

.sv-question__content {
  margin-right: 0.55rem;
}

/* header image*/
.center-headerImage {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.Navbar {
  min-height: 80px;
  width: 100vw;
}

.my-nav-item {
  margin: 0 1rem;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .my-nav-item {
    width: 70px;
  }
}

@media screen and (max-width: 1200px) {
  .my-nav-item {
    margin: 0 0;
    text-align: center;
  }
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #f0f7ff;
  color: #3d8de9;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #190e89;
}

@media screen and (max-width: 576px) {
  .footer-icon {
    text-align: center;
  }
}

.nav-container {
  margin: 0 5% 0 0;
}

@media screen and (min-width: 1400px) {
  .nav-container {
    margin: 0 18% 0 18%;
  }
}

.post-img-button {
  opacity: 1 !important;
  background-color: transparent;
  width: 35;
  height: 35;
  border-radius: 50%;
  padding: 0;
}
