:root {
	--color-primary: #000767;
	--color-secondary: #8ab5ab;
	--color-accent: #ff0000;
	--color-headings: #c9ccff;
	--color-text: #190e89;
	--color-background: #f2f6fb;
	--color-border: #ccc;
	--border-radius: 0px;
}

html {
	font-size: 87.5%;
}

input[type='file'] {
	display: none;
}

a:link,
a:visited {
	text-decoration: none;
	cursor: pointer;
}

.btn {
	border-radius: var(--border-radius);
	border-width: 0;
}

.btn--blue {
	background-color: var(--color-primary);
}

.btn--red {
	background-color: var(--color-accent);
}

.btn--green {
	background-color: var(--color-secondary);
}

.edit-text {
	background-color: transparent;
	outline: none;
	border: none;
	border-radius: 0;
	padding: 0 2rem;
}

.edit-text:focus {
	border-bottom: 1px solid var(--color-primary);
}

/* Survey Editor */

.se__container {
	background-color: var(--color-background);
	min-height: calc(100vh - 66.25px);
}

.se__top-cut-off {
	height: 6rem;
	width: 100vw;
	background-color: var(--color-primary);
}

.se__bottom-cut-off {
	height: 6rem;
	width: 100vw;
	background-color: var(--color-primary);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
	font-weight: 300;
	margin-top: 3rem;
}

.se__bottom-cut-off a {
	color: #a8a1c0;
}

.se__bottom-cut-off a:hover {
	color: #ddd9e9;
}

.se__content {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.se__publish {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
	height: 10rem;
}

.se__title-section {
	background-color: rgb(255, 255, 255);
}

.se__title-container {
	padding: 4rem 0;
	/* background-color: rgba(0, 0, 0, 0.5); */
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.se__progress-bar {
	margin-top: 1rem;
}

.se__title {
	margin-top: 0;
	height: 7.5rem;
	font-size: 5rem;
	color: var(--color-headings);
	border: 1px solid var(--color-primary);
}

.se__sub-title {
	margin-top: 2rem;
	margin-bottom: 0;
	height: 7.5rem;
	font-size: 5rem;
	-webkit-text-stroke: 1px var(--color-headings);
	color: transparent;
	border: 1px solid var(--color-primary);
}

.se__thumbnail {
	width: 100%;
	height: 14rem;
	object-fit: cover;
	background-color: #f1f1f1;
}

.se__thumbnail-btn {
	background-color: var(--color-primary);
	height: 3rem;
	font-size: 1.5rem;
	font-weight: 300;
	width: 50%;
}

.se__btn-add {
	font-size: 1.8rem;
	width: 90%;
	height: 6rem;
	border-width: 0;
}

.se__btn-publish {
	margin: 0 3rem;
	width: 20rem;
	height: 4rem;
	background-color: var(--color-primary);
	border-color: var(--color-primary);
	color: white;
	font-size: 1.5rem;
	font-weight: 600;
}

.se__btn-cancel {
	margin: 0 3rem;
	width: 20rem;
	height: 4rem;
	background-color: white;
	color: var(--color-primary);
	border-color: var(--color-primary);
	font-size: 1.5rem;
	font-weight: 600;
}

/* Question Editor */
.qe {
	width: 95%;
	margin: 2rem auto;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	transition: all 0.2s ease-out;
}

.qe:hover {
	box-shadow: 0 0 20px 0 rgb(230, 230, 230);
	background-color: rgba(255, 255, 255, 0.3);
}

.qe__image {
	width: 100%;
	height: auto;
	padding: 0 2rem 1.5rem;
}

.qe__progress-bar {
	margin: 0 2rem 0.5rem;
}

.qe__btn {
	margin-top: 1rem;
	width: 10rem;
	height: 3.2rem;
	font-size: 1.7rem;
	padding: 0;
}

.qe__btn--mt {
	margin-top: 0;
}

.qe__question {
	font-size: 2.5rem;
	height: 5rem;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	margin: 0 0 1rem;
	color: var(--color-text);
}

.qe__option {
	color: var(--color-text);
	font-size: 1.8rem;
	margin: 0.3rem 1rem;
	padding: 0;
	padding-left: 1rem;
	display: inline-block;
	height: 3rem;
	width: auto;
	width: 90%;
	vertical-align: middle;
}

.qe__option-icon {
	margin-left: 2.5rem;
	vertical-align: middle;
}

/* header image*/
.center-headerImage{
	text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}
